<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee Management System</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" <link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<h1> List Employees </h1>
			<ul id="employeeList" class="list-group mt-3"></ul>
		</div>

		<div class="row">
			<div class="col-lg-3" <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3"> Add Employee</a>

			</div>
			<table class="table table_striped table bordered">
				<thead class="table_dark" <tr>
					<th> Employee Id</th>
					<th> Employee First Name</th>
					<th> Employee Last Name</th>
					<th> Employee Email</th>
					<th> Operations</th>
					</tr>
					<thead>

					<tbody>
						<tr th:each="employee${employees}">
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.email}"></td>
						</tr>
					</tbody>

			</table>

		</div>

		</script>
</body>

</html>